<!-- Meditation PNG with page title -->
<section>
    <mat-card-title class="parent-card-title" fxLayout="column" fxLayoutAlign="center center">
        <img src="../../../../assets/meditation-icon.png" alt="">
        <div style="margin-top: 5px; margin-bottom: 5px;">{{getPageTitle()}}</div>
        <span *ngIf="pageTitle != 'Guided Meditations'">{{description}}</span>
    </mat-card-title>
</section>


<section class="meditation">
    <!-- <mat-tab-group mat-align-tabs="center" dynamicHeight animationDuration="250ms">
        <mat-tab label="To Read">
            <app-meditation-read></app-meditation-read>
        </mat-tab>
    
        <mat-tab label="To Practice">
            <app-meditation-practice></app-meditation-practice>
        </mat-tab>
    </mat-tab-group> -->

    <app-meditation-category-wise></app-meditation-category-wise>
</section>