

img {
    width: 50px;
    height: 50px;
    /* margin-bottom: 10px; */
}

.suggest-me {
    color: #3a4a8a;
    cursor: pointer;
    margin-bottom: 15px;
}

.refresh {
    color: #3a4a8a;
    cursor: pointer;
    margin-bottom: 15px;
}

.refresh:hover
.refresh:active{
    transform: scale(0.9);
}

.suggest-me:hover
.suggest-me:active{
    transform: scale(0.9);
}

.parent-card {
    background-color: #eaf2fc;
}

/* .mat-select {
    width: auto;
} */
/* h2 {
    color: black !important;
} */

