<mat-toolbar class="toolbar">
    <div fxFlex fxLayout fxLayoutAlign="flex-start">
        <ul fxLayout fxLayoutGap="15px">
            <li class="app"><a style="font-weight: 550" routerLink="/"><img src="../../../assets/meditation-icon.png"></a></li>
            <li class="links"><a style="font-weight: 550" routerLink="/meditation">Meditation</a></li>
            <li class="links"><a style="font-weight: 550" routerLink="/faqs">FAQs</a></li>
        </ul>
    </div>
    <!-- <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items mt-3">
            <li><a routerLink="/training">Meditation</a></li>
        </ul>
    </div> -->
</mat-toolbar>